body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  background-color: bisque;
}


h2{
  padding-top: 50px;
  text-align: center;
}


.chart-container {
              margin-top: 50px;
              background: bisque;
          }