<!DOCTYPE html>
<html>
    <head>
        <title>Association Rules</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/plot1.css') }}">
        <style>
            body {
                font-family: Arial, sans-serif;
                height: 100%;
                width: 100%;
                background-image:  url("{{ url_for('static', filename='images/background1.jpeg') }}");
                background-repeat: no-repeat;
                background-size: inherit;
            }
        </style>

    </head>
    <body>
        <h1>Welcome To FOOD JUNCTION</h1>

        <form action="/generate_rules" method="post" enctype="multipart/form-data">
            <div >
                <input class="button" type="file" name="data_file" accept=".csv">
            </div>
            <div class="center">
                <button class="button" type="submit">Generate Rules</button>
            </div>
        </form>

    </body>
</html>
